body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    background-image: url("../img/backgorund-lines.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #e9c217;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
}

button:hover {
    background-color: #a88d14;
}

#texto {
    font-size: 18px;
    max-width: 600px;
    margin: 40px auto;
}